
body
		{
			background-color: darkolivegreen;
					

		}
ul
{
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	padding: 30px; 30px;
	overflow: hidden;
	background-color: black;
	width: 65%;
	height: 5px;
	

}

li
{
	float: left;
	
	
}

li a
{
	display: ruby-base-container;
	color: antiquewhite;
	text-align: center;
	padding: 30px;
	text-decoration: none;
	font-family: calistoMT;
	font-size: 20px;
	

}

a:hover 
{
	background-color:olivedrab ;
	color: black;
	
}


 #clock 
  { 
    font-size: 50px;           
    text-align: center; 
	  width: 200px;                      
    border-radius: 20px; 
    color: white;
    
   } 

 