
body
		{
			background-color: darkolivegreen;
					

		}
ul
{
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	padding: 30px; 30px;
	overflow: hidden;
	background-color: black;
	width: 65%;
	height: 5px;
	

}

li
{
	float: left;
	
	
}

li a
{
	display: ruby-base-container;
	color: antiquewhite;
	text-align: center;
	padding: 30px;
	text-decoration: none;
	font-family: calistoMT;
	font-size: 20px;
	

}

a:hover 
{
	background-color:olivedrab ;
	color: black;
	
}


 #clock 
  { 
    font-size: 50px;           
    text-align: center; 
	  width: 200px;                      
    border-radius: 20px; 
    color: white;
    
   } 
.mySlides {display: none}
	
		img {vertical-align: middle;}

		.slideshow-container 
		{
  			max-width: 1000px;
  			position: relative;
 			margin: auto;
		}

		
		.text 
		{
		    color: #f2f2f2;
			font-size: 15px;
			padding: 8px 12px;
			position: absolute;
			bottom: 8px;
			width: 100%;
			text-align: center;
		}


		.numbertext
		{
    		color: #f2f2f2;
   			font-size: 12px;
    		padding: 8px 12px;
    		position: absolute;
    		top: 0;
		}


		.dot
		{
		    height: 15px;
		    width: 15px;
		    margin: 0 2px;
		    background-color: #bbb;
		    border-radius: 50%;
		    display: inline-block;
		    transition: background-color 0.6s ease;
		}

		.active, .dot:hover 
		{
		  background-color: #717171;
		}

		.fade
		{
		  animation-name: fade;
		  animation-duration: 1.5s;
		}

		@keyframes fade
		{
		  from {opacity: .3} 
		  to {opacity: 1}
		}


		@media only screen and (max-width: 300px) 
		{
		  .prev, .next,.text {font-size: 11px}
		}
 