body 
{
	background-color: darkolivegreen;
}


ul
{
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	padding: 30px; 30px;
	overflow: hidden;
	background-color: black;
	width: 65%;
	height: 5px;
}

li
{
	float: left;
}

li a
{
	display: ruby-base-container;
	color: antiquewhite;
	text-align: center;
	padding: 30px;
	text-decoration: none;
	font-family: CalistoMT;
	font-size: 20px;
}

a:hover 
{
	background-color: olivedrab;
	color: black;
}

h1 
{
	color: white;
}
h2 
{
	font-family: Georgia;
	color: white;
}

p
{
	font-family: Candara;
	color: white;
	font-size: 17px;
}

table,th, tr, td
{
	border: 2px solid black;
	border-collapse: collapse;
	color: white;
	font-family: candara;
}

th
{
	font-family: georgia;
}
tr:hover
{
	background-color: darkslategray ;
	color: black;
}

img
{
	border-style: solid;
	border-color: black;
	border-width: 3px;
}